
body {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><path d="M40 0 L0 0 0 40" fill="none" stroke="white" stroke-width="1"/></svg>');
  background-repeat: repeat;
  background-size: 20px 20px;
  background-color: $blue-green;

  font-family: 'Inter';
  color:white;

  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  -webkit-text-size-adjust: 100%;
}